.login-wrapper {
  min-height: 100%;
  width: 100%;
  // background-color: white;
  color: black;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  // flex-direction: column;

  background-color: #EFEFEF;
}



.info-card, .login-card {
  width: 500px;
  height: 500px;
  .inner-card-content {
    vertical-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 40px;
    }
    h3 {
      font-size: 18px;
      margin-top: 5px;
      a {
        color: darkslateblue;
        font-weight: bold;
      }
    }
    p {
      font-size: 20px;
    }
    h2 {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 10px;
    }
    ion-item {
      width: 100%;
      margin: 5px;
    }
    ion-button{
      margin-bottom: 5px;
    }
  }
}

.login-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 1vw;
}

.notes-container {
  font-size: 1em;
  text-align: center;
  max-width: 75%;
  margin-bottom: 3vw;
}

.top-container,
.bottom-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-input,
.item-select,
ion-button {
  margin: 15px 0;
}
