.content-wrapper {
  min-height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  padding-left: 15px;
}

ion-popover.file-popover {
  --width: 70%;
  --height: 70%;
  --border-radius: 0;
}

.title-wrapper {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    .button {

    }
  }
}

.item-input,
.item-select {
  margin: 20px 0;
}

.explanation-text {
  background-color: #ededed;
  width: 98%;
  height: auto;
  margin: 3px;
  font-size: 18px;

  p {
    padding: 10px;
  }
}

@media screen and (min-width: 992px) {
  .content-wrapper {
    .due-date-col {
      padding-left: 30px;
      padding-top: 25px;
    }
  }
}
