.header-wrapper {
  width: 100%;
  background-color: #222428;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: white;
  // width: 30%;
}

ion-popover {
  --background: #000; 
}

ion-popover.reports-popover {
  --offset-x: 380px;
  --offset-y: -290px;
  // position: relative;
}

ion-popover.help-popover {
  --offset-x: 700px;
  --offset-y: -290px;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // width: 30%;
  button {
    text-transform: uppercase;
    color: white;
    background-color: #2f2f2f;
    padding: 10px 15px;
    font-weight: bold;
    margin: 0 10px;
  }
}

@media screen and (max-width: 1140px) {
  ion-popover.reports-popover {
    --offset-x: 260px;
    --offset-y: -290px;
  }

  ion-popover.help-popover {
    --offset-x: 340px;
    --offset-y: -290px;
  }
}

@media screen and (max-width: 960px) {
  ion-popover.reports-popover {
    --offset-x: 150px;
    --offset-y: -290px;
  }

  ion-popover.help-popover {
    --offset-x: 230px;
    --offset-y: -290px;
  }
}

@media screen and (max-width: 720px) {
  ion-popover.reports-popover {
    --offset-x: -50px;
    --offset-y: -290px;
  }

  ion-popover.help-popover {
    --offset-x: 30px;
    --offset-y: -290px;
  }
}

@media screen and (max-width: 540px) {
  ion-popover.reports-popover {
    --offset-x: 30px;
    --offset-y: -290px;
  }

  ion-popover.help-popover {
    --offset-x: 30px;
    --offset-y: -290px;
  }
}
