.mrl-summary-toolbar {
  min-height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  padding-bottom: 20px;
  
  .download-image {
    margin-left: 35px;
    margin-right: 80px;
    margin-top: 20px; 
  }
}

.mrl-summary-wrapper {
  min-height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  padding-bottom: 20px;

  hr {
    height: 1px !important;
    width: 100% !important;
    background: rgba(0, 0, 0, 0.08) !important;
    display: block !important;
    font-size: 2em !important;
    visibility: visible !important;
  }

  .yes {
    background-color: limegreen;
    color: limegreen;
    border-radius: 1px;
    display: flex;
    height: 30px;
    width: 30px;
  }

  .no {
    background-color: #df3737;
    color: #df3737;
    border-radius: 1px;
    height: 30px;
    width: 30px;
    display: flex;
    align-content: center;
  }

  .na {
    background-color: lightgrey;
    color: lightgrey;
    border-radius: 1px;
    height: 30px;
    width: 30px;
  }

  .blank {
    background: transparent;
    color: #df3737;
    border-radius: 1px;
    border: 2px solid lightgrey;
    height: 30px;
    width: 30px;
    display: flex;
    align-content: center;
  }

  .dashpic {
    height: 17px;
    width: 17px !important;
    max-width: 50px;
  }

  .dashbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .mrl-summary-toolbar {
  //   .download-image {
  //     margin-left: 35px;
  //     margin-right: 80px;
  //     margin-top: 20px; 
  //   }
  // }

  .desktop {
    padding-left: 15px;
    padding-right: 15px;
  }

  .questions {
    display: flex;
    justify-content: space-between;
  }

  .header {
    flex-basis: 15%;
  }

  .answers {
    flex-basis: 5%;
  }

  h5 {
    padding: 0px;
    margin: 0px;
  }

  .subthread {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mrl-summary-wrapper {
    display: flex;
    flex-direction: column;
  }

  .answers {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 1024px) {
  ion-content {
    --background: white;
  }

  .mrl-summary-wrapper {
    .desktop {
      display: none;
    }

    .mobile {
      display: inherit;
      margin-left: 20px;
    }

    h3 {
      // border-top: 1px solid gray;
      border-bottom: 1px solid lightgray;
      padding: 15px 0;
    }

    h6 {
      width: 100%;
      display: block;
    }

    .questions {
      width: 100%;
      display: block;
      margin: 20px 0;
    }

    .answer-row {
      width: 100%;
      display: block;
      margin: 5px 0;
    }

    .answers {
      // display: block;
      display: inline-block;
      width: 10%;
      margin: 0;
    }

    .level-num {
      padding-left: 7px;
    }
  }
}